[submodule "xresources"]
	path = xresources
	url = https://github.com/KrakenTheme/xresources
[submodule "iterm"]
	path = iterm
	url = https://github.com/KrakenTheme/iterm
[submodule "ranger"]
	path = ranger
	url = https://github.com/KrakenTheme/ranger
[submodule "kraken-zsh"]
	path = kraken-zsh
	url = https://github.com/KrakenTheme/kraken-zsh
[submodule "visual-studio-code"]
	path = visual-studio-code
	url = https://github.com/KrakenTheme/visual-studio-code
[submodule "konsole"]
	path = konsole
	url = https://github.com/KrakenTheme/konsole
[submodule "termite"]
	path = termite
	url = https://github.com/KrakenTheme/termite
