[submodule "xresources"]
	path = xresources
	url = https://github.com/KrakenTheme/xresources
[submodule "iterm"]
	path = iterm
	url = https://github.com/KrakenTheme/iterm
[submodule "ranger"]
	path = ranger
	url = https://github.com/KrakenTheme/ranger
[submodule "zsh"]
	path = zsh
	url = https://github.com/KrakenTheme/zsh
[submodule "visual-studio-code"]
	path = visual-studio-code
	url = https://github.com/KrakenTheme/visual-studio-code
